<footer class="footer">
    <div class="footer-info">
        <p class="footer-info__site">Hi-Fi Corner</p>
        <p class="footer-info__adresse">Edinburgh 2 Joppa Road EH15 2EU</p>
        <p class="footer-info__adresse">Falkirk 44 Cow Wynd FK1 1PU</p>
    </div>

    <div class="footer-return">
        <a class="footer-return__link" href="">Returns & Refunds</a>
        <p class="footer-return__p">|</p>
        <a class="footer-return__link" href="">Privacy Policy</a>
    </div>

    <div class="footer-img-container">
        <img src="/assets/images/pay_logos.png" alt="Credit cards" class="footer-img-container__img">
    </div>

    <div class="logo-container">
        <a class="logo-container__link" href=""><img src="/assets/images/socials/footer-facebook.png" alt="Facebook"
                class="logo_container__logo"></a>
        <a class="logo-container__link" href=""><img src="/assets/images/socials/footer-youtube.png" alt="Youtube"
                class="logo_container__logo"></a>
        <a class="logo-container__link" href=""><img src="/assets/images/socials/footer-twitter.png" alt="Twitter"
                class="logo_container__logo"></a>
        <a class="logo-container__link" href=""><img src="/assets/images/socials/footer-linkedin.png" alt="Instagram"
                class="logo_container__logo"></a>
    </div>
</footer>