<header>
    <nav class="nav">
      <div class="nav-container">
        <div class="shop-search">
          <input placeholder="Search entire store here..." type="text" class="shop-search__input" />
          <i class="fas fa-search shop-search__icon"></i>
        </div>

        <a href="" class="account account_hover">
          <i class="fas fa-user account__logo"></i>
          <p class="account__text">ACCOUNT</p>
        </a>

        <a href="" class="cart cart_hover">
          <i class="fas fa-shopping-cart cart__logo"></i>
          <p class="cart__text">CART</p>
        </a>

        <div class="icons-container">
          <i class="fas fa-map-marker-alt icons-container__icons"></i>
          <i class="fas fa-phone icons-container__icons"></i>
          <i class="far fa-envelope icons-container__icons"></i>
        </div>
      </div>

      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link_hover" href="/">HOME</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link_hover" href="">ABOUT US</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link_hover" href="/brands/">BRANDS</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link_hover" href="">BLOG</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link_hover" href="">EVENTS</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link_hover" href="/category/">SHOP</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link_hover" href="">CONTACT US</a>
        </li>
      </ul>

      <div class="mobile-menu">
        <ul class="mobile-list">
          <li class="mobile-list__item">
            <a class="mobile-list__link mobile-list__link_hover" href="/">HOME</a>
          </li>
          <li class="mobile-list__item">
            <a class="mobile-list__link mobile-list__link_hover" href="">ABOUT US</a>
          </li>
          <li class="mobile-list__item">
            <a class="mobile-list__link mobile-list__link_hover" href="/brands/">BRANDS</a>
          </li>
          <li class="mobile-list__item">
            <a class="mobile-list__link mobile-list__link_hover" href="">BLOG</a>
          </li>
          <li class="mobile-list__item">
            <a class="mobile-list__link mobile-list__link_hover" href="">EVENTS</a>
          </li>
          <li class="mobile-list__item">
            <a class="mobile-list__link mobile-list__link_hover" href="/category/">SHOP</a>
          </li>
          <li class="mobile-list__item">
            <a class="mobile-list__link mobile-list__link_hover" href="">CONTACT US</a>
          </li>
        </ul>
      </div>

      <div class="burger-menu">
        <img src="/assets/images/burger-menu.svg" alt="Burger menu" class="burger-menu__img" />
      </div>
    </nav>
  </header>
