<% include ../partials/head %>
<title>Hifi-club - Brands</title>
<% include ../partials/end-head %>
<% include ../partials/header %>
<main class="main">
        <section class="top-section">
            <h2 class="top-section__overskrift">TOP BRANDS</h2>
            <div class="logo">
                <img class="logo__img" src="/assets/images/logo.png" alt="Logo">
            </div>
        </section>

        <section class="brands">
            <aside class="brands-left">
                <p class="brands-left-overskrift">Here are just a few of the brands we stock:</p>
                <div class="brands-container">
                    <img src="/assets/images/brands.png" alt="Brands" class="brands-container__img">
                </div>
            </aside>
            <article class="brands-right">
                <h1 class="brands-right__overskrift">BRANDS</h1>
                <p class="brands-right__text">As an independent retailer of home audio and visual products, we are able
                    to select the very best brands and manufacturers from across the world.</p>
                <p class="brands-right__text">Not only do we have the best known brands such as B&W, Devialet, KEF,
                    Naim, and Linn; we also stock and are well versified with smaller autonomous companies like Michell
                    Engineering, Neat Acoustics, Harbeth, SME, Trichord Research, PrimaLuna, to name but a few.</p>
                <p class="brands-right__text">With over a hundred brands, we can happily say that if a brand meets our
                    high standards for sound reproduction, then you can be assured to find it at Hi-Fi Corner.</p>
                <a href="category.html" class="brands-right__link">VISIT OUR SHOP TO FIND MORE BRANDS</a>
            </article>
        </section>
    </main>

    <% include ../partials/footer %>
    <% include ../partials/after-footer %>