<% include ../partials/head %>
<title>Hifi-club - Category</title>
<% include ../partials/end-head %>
<% include ../partials/header %>

<main class="main">
    <section class="category-grid">
        <a href="/shop/?category=band" class="category-item">
            <h3 class="category-item__heading">SHOP BY BAND</h3>
            <img src="/assets/images/category/category1.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=amplifiers" class="category-item">
            <h3 class="category-item__heading">AMPLIFIERS</h3>
            <img src="/assets/images/category/category2.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=speakers" class="category-item">
            <h3 class="category-item__heading">SPEAKERS</h3>
            <img src="/assets/images/category/category3.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=turntables" class="category-item">
            <h3 class="category-item__heading">TURNTABLES</h3>
            <img src="/assets/images/category/category4.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=cd-players" class="category-item">
            <h3 class="category-item__heading">CD PLAYERS</h3>
            <img src="/assets/images/category/category5.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=streamers" class="category-item">
            <h3 class="category-item__heading">STREAMERS</h3>
            <img src="/assets/images/category/category6.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=cables" class="category-item">
            <h3 class="category-item__heading">CABLES</h3>
            <img src="/assets/images/category/category7.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=furniture" class="category-item">
            <h3 class="category-item__heading">FURNITURE</h3>
            <img src="/assets/images/category/category8.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=headphones" class="category-item">
            <h3 class="category-item__heading">HEADPHONES</h3>
            <img src="/assets/images/category/category9.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=home_cinema" class="category-item">
            <h3 class="category-item__heading">HOME CINEMA</h3>
            <img src="/assets/images/category/category10.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=outlet" class="category-item">
            <h3 class="category-item__heading">OUTLET - SAVE UP TO 50% OFF</h3>
            <img src="/assets/images/category/category11.jpg" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=ebay" class="category-item">
            <h3 class="category-item__heading">EBAY SHOP</h3>
            <img src="https://via.placeholder.com/200x200/a39161/a39161/" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=ceiling_speakers" class="category-item">
            <h3 class="category-item__heading">CEILING SPEAKERS</h3>
            <img src="https://via.placeholder.com/200x200/a39161/a39161/" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=tvs" class="category-item">
            <h3 class="category-item__heading">TVS</h3>
            <img src="https://via.placeholder.com/200x200/a39161/a39161/" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=vinyl" class="category-item">
            <h3 class="category-item__heading">VINYL</h3>
            <img src="https://via.placeholder.com/200x200/a39161/a39161/" alt="Category" class="category-item__img">
        </a>

        <a href="/shop/?category=all" class="category-item">
            <h3 class="category-item__heading category-item__heading_backrgound">SHOP NOW</h3>
            <img src="https://via.placeholder.com/200x200/a39161/a39161/" alt="Category" class="category-item__img">
        </a>
    </section>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>