<% include ../partials/head %>
<title>Hifi-club</title>
<% include ../partials/end-head %>
<% include ../partials/header %>
<main>
    <section class="parallax-container">
        <img src="assets/images/logo.png" alt="Logo" class="parallax-container__img">
    </section>

    <section class="main-content">
        <div class="home-quote">
            <h2 class="home-quote__overskrift">KNOWLEDGE SPEAKS, BUT WISDOM LISTENS.</h2>
            <h2 class="home-quote__navn">JIMI HENDRIX</h2>
        </div>

        <div class="shop-add">
            <a class="shop-add__link" href="/shop/?category=amplifiers"><img src="assets/images/slide.jpg"
                    alt="Shop add" class="shop-add__img"></a>
            <h3 class="shop-add__title">Primaluna Sounds</h3>
            <i class="fas fa-arrow-right" id="slide-right"></i>
            <i class="fas fa-arrow-left" id="slide-left"></i>
        </div>
        <div class="socials-main">
            <a href="" class="social-facebook social-facebook_hover">
                <img src="assets/images/socials/social-facebook.png" alt="Facebook" class="social-facebook__logo">
            </a>
        </div>

        <div class="socials-main">
            <a href="" class="social-blog social-blog_hover">
                <img src="assets/images/socials/social-blog.png" alt="Blog" class="social-blog__logo">
            </a>
        </div>

        <div class="socials-main">
            <a href="" class="social-twitter social-twitter_hover">
                <img src="assets/images/socials/social-twitter.png" alt="Twitter" class="social-twitter__logo">
            </a>
        </div>

        <div class="text-container">
            <h3 class="text-container__overskrift">
                <a class="text-container__link text-container__link_hover" href="">HISTORY</a>
            </h3>

            <p class="text-container__text">
                Established in the late 1960s, our family owned
                business is based in Edinburgh and Falkirk,
                servicing customers across the UK.
            </p>
        </div>

        <div class="text-container">
            <h3 class="text-container__overskrift">
                <a class="text-container__link text-container__link_hover" href="">NEWS</a>
            </h3>

            <p class="text-container__text">
                Check out our latest news stories
                for all the up to date Hi-Fi
                Corner products and launches.
            </p>
        </div>

        <div class="text-container">
            <h3 class="text-container__overskrift">
                <a class="text-container__link text-container__link_hover" href="/category/">SHOP</a>
            </h3>

            <p class="text-container__text">
                Have a look in our online shop for great products and deals.
            </p>
        </div>

    </section>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>