<% include ../partials/head %>
<title>Product</title>
<% include ../partials/end-head %>
<% include ../partials/header %>
<main class="main">
    <section class="single-product-section">
        <ul class="breadcrumb-list">
        </ul>

        <div class="single-product-container">
            <img src="/assets/images/webshop_banner.png" alt="Webbanner" class="web-banner">
            <figure class="single-product-container__img-container">
            </figure>

            <article class="single-product">
            </article>

            <div class="desc-table-container">
                <h2 class="desc-table-container__h2">DESCRIPTION</h2>
                <table class="desc-table">
                </table>
            </div>
        </div>
    </section>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>